.featured-brand {
    display: flex;
    justify-content: center;
    /* background-color: gold;  */
}
.featured-brand li {
    list-style-type: none;
    padding: 0;
    flex: 0 1 28rem;
    margin: 1rem;
    height: 30rem;
    margin-left: 2rem;
    /* background-color: gold;  */
}
.brand {
    object-fit: contain;
    /* display: flex;
    justify-content: center; */
    height: 100%;
}
.brand-image {
    max-height: 24rem;
    max-width: 24rem;
    -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.brand-image:hover {
    border-radius:50%; box-shadow: 0 10px 6px -6px grey;
}
/* .brand-image, .btn-featured {
    position: absolute;
} */
/* BUTTON */
.hero-btns .btn {
    background-color: rgb(207, 204, 204);
    background-color: transparent;
    border-style: groove;
    border-radius: 10px;
}

  .btn:hover {
    background-color: black;
  }
  .btn--outline {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-out;
  }
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  .btn--medium {
    padding: 12px 26px;
    font-size: 15px;
  }